.NewTask{
  margin-bottom: 4rem;
  display: flex;  
  align-items: center;
}
.NewTask input {
  height: 3.375rem;
  width: 37.875rem;
  background: var(--gray-500);
  border-radius: 8px;
  border-style: none;
  margin-right: 8px;
  text-indent: 0.8rem;
  color: var(--gray-100);
}

.NewTask input:focus {
  border-color: var(--blueDark)
}

.NewTask button {
  height: 3.25rem;
  width: 5.625rem;
  background: var(--blueDark);
  color: var(--gray-100);
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.1s;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}


.NewTask button:not(:disabled):hover {
  background: var(--blue);
  font-weight: bold;
  color: var(--gray-100);  
}

.NewTask button:disabled{
  opacity: 0.7;
  cursor: not-allowed;
}

.taskHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  width: 100%;
}

.createTask{
  width: 12.625rem;
  color: var(--blue);
}

.countTask{
  background: var(--gray-400);
  padding: 4px;
  border-radius: 8px;
  color: var(--gray-200);
  font-weight: bold;
  font-size: 0.9rem;
}
.done{
  padding: 2px;
  color: var(--purple);
}


.countDone{
  background: var(--gray-400);
  padding: 4px;
  border-radius: 8px;
  color: var(--gray-200);
  font-weight: bold;
  font-size: 0.9rem;
}