.taskHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  width: 100%;
}

.task{
  background: var(--gray-500);
  border-radius: 8px;
  padding: 2rem;   
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.task + .task{
  margin-top: 2rem;
}


.content {
  line-height: 1.6;
  color: var(--gray-300);
  justify-content: center;
}
.content label{
  margin-left: 0.5rem; 
}

input[type="checkbox"]  {
  -webkit-appearance: none;
  display:inline-block;
  width:20px;
  height:20px;
  background-color: transparent;
  vertical-align:middle;
  cursor:pointer;
  border:2px solid var(--blue);
  border-radius: 50%;
} 


input[type="checkbox"]:checked{
  background:var(--purple);
  border:none;
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid var(--purple);
  outline-offset: max(2px, 0.15em);
  border:none;
}

input[type="checkbox"]:hover {
  outline: max(2px, 0.15em) solid var(--purple);
  border:none;
}

button  {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
}

button :hover{
  color: var(--danger);
}

.labelChecked  {
  text-decoration: line-through;
}
