.taskHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  width: 100%;
}


.createTask{
  width: 12.625rem;
  color: var(--blue);
}

.countTask{
  background: var(--gray-400);
  padding: 4px;
  border-radius: 8px;
  color: var(--gray-200);
  font-weight: bold;
  font-size: 0.9rem;
}
.done{
  padding: 2px;
  color: var(--purple);
}


.countDone{
  background: var(--gray-400);
  padding: 4px;
  border-radius: 8px;
  color: var(--gray-200);
  font-weight: bold;
  font-size: 0.9rem;
}